/* DEFINITION DES COULEURS*/

$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;

$breakpoints:(tablette:768px,ordi:992px);

@mixin tablette{
    @media screen and (min-width: map-get($breakpoints,tablette)) and (max-width: map-get($breakpoints,ordi)){
        @content;
    }
}

@mixin ordi{
    @media screen and (min-width:map-get($breakpoints, ordi)){
        @content;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
@keyframes loader{
    0%{
        opacity: 1;

    }
    80%{
        opacity:1;
    }

    99%{
        opacity: 0;
        z-index: 1000;
    }
    100%{
        opacity: 0;
    }
}

@keyframes body{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes nom{
    0%{
        width: 80%;
    }
    100%{
        width: 60%;
        text-overflow: ellipsis "...";
        overflow: hidden;
        white-space: nowrap;
    }
}

@keyframes prix{

}

@keyframes check{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;

    }
}

=======
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2
=======
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2

@keyframes coeur2{
    0%{
        transform:scale(0);
        background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
    100%{
        transform: scale(1.0);
        background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
}

    /*IMBRICATION DU NUMERO DANS LE CERCLE*/
/*Couleur de fond
Couleur de la bordure
Rayon de bordure
Hauteur et largeur du cercle
Centrage du texte
Couleur du texte
Epaisseur de police*/
@mixin cercle
{
    background-color:$couleur_primaire;
    border:1px solid $couleur_primaire;
    border-radius:50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color:white;
    font-weight: 700;
}

/*ALIGNEMENT DLES ELEMENTS FLEX EN COLONNE*/
@mixin flex_column
{
    display: flex;
    flex-direction: column;
}

/*ALIGNEMENT DES ELEMENTS FLEX EN LIGNE*/
@mixin flex_row
{
    display: flex;
    flex-direction: row;
}

/*CENTRAGE VERTICAL DES ELEMENTS FLEX*/
@mixin flex_center
{
    display: flex;
    align-items:center;
}




/*CORPS DE LA PAGE*/
/*Définition de la police
Largeur de la page
Centrage automatique*/
body
{
    font-family: "Roboto";
    width: 100%;
    margin:auto;
    animation:body 0.25s cubic-bezier(1,.01,.58,1) forwards;
}

/*EN-TETE DE LA PAGE*/
.header
{
    /*Alignement des éléments en colonne*/
    @include flex_column;
    /*Logo de l'entreprise
    Famille de police
    Taille de police
    Alignement centré du texte*/
    &__logo
    {
        font-family: "Shrikhand";
        font-size: 3em;
        text-align: center;
    }
    &__link{
        @include flex_row;
        align-items:center;
        gap:20px;
        
    }
    /*Liens
    Positionement relatif*/
    a
    {
        position: relative;
        text-decoration: none;
        /*top:45px;*/
        left: 20px;
    }
    /*Liens visités
    Couleur du texte
    Pas de soulignement*/
    a:visited
    {
        text-decoration: none;
        color: black;
    }

}

.loader{
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
    background-color: white;
    animation-name: loader ;
    animation-delay:-875ms;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
    animation-duration:3s;


    &__icon{
        margin: auto;
        .animate{
            font-family: "Shrikhand";
            font-size: 3em;
            text-align: center;
            background-image: linear-gradient(-225deg,$couleur_primaire 33%,$couleur_secondaire 66%,$couleur_tertiaire 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            /*animation-name: textclip;
            animation-duration: 0.5s;
            animation-delay:0s;
            animation-timing-function: linear;
            animation-iteration-count:3;*/
            animation:textclip 0.5s 0s 3 linear;
            display: inline-block;
            font-size: 2em;
            .animate span{
                animation:textclip 0.5s 3;
            }
        }
    }
}



/*FORMULAIRE*/
.form
{
    /*Centrage des éléments flex*/
    @include flex_center;
    /*Centrage horizontal des éléments
    Espacement entre les blocs
    hauteur des blocs
    Couleur de fond*/
    justify-content: center;
    gap:20px;
    height: 50px;
    background:linear-gradient(to bottom,grey,grey 1%,lightgrey 10%,lightgrey);
    /*Champ de saisie
    Couleur de fond
    Pas de boudure
    Largeur du champ
    Taille de police*/
    input
    {
        background-color:lightgrey;
        color:black;
        border:none;
        width: 150px;
        font-size: 1.3em;
    }
}

/*PRESENTATION DE L'ENTREPRISE*/
.presentation
{

    /*Centrage vertical
    Renvoi à la ligne
    Centrage du texte
    Marge interne en bas*/
    @include flex_column;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom:75px;
    /*Titre de la présentation
    Taille de police
    Marge interne*/
    &__titre
    {
        font-size: 2em;
        padding-left:20px;
    }
    /*Texte du concept de l'entreprise
    Taille de police*/
    &__texte
    {
        font-size: 1.3em;
    }
}

/*BOUTON*/
/*Centrage vertical
Centrage horizontal
Centrage automatique
Hauteur et largeur du bouton
Couleur du texte
Police du texte
Rayon de bordure du bouton
Dégradé de la couleur de fond*/
button
{
    @include flex_center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    height: 60px;
    width: 250px;
    color: white;
    font-size: 1.1em;
    border-radius:30px;
    background:linear-gradient(0deg,$couleur_secondaire,$couleur_secondaire 2%,$couleur_primaire);
    
}
button:hover{
    background:linear-gradient(0deg,lighten($couleur_secondaire,5),lighten($couleur_secondaire,5) 2%,lighten($couleur_primaire,5));
    box-shadow:2px 2px 2px black;
}


/*BLOC DE DESCRIPTION DU FONCTIONNEMENT*/
/*Eléments flex en colonne
Espacement vertical des éléments
Centrage automatique
Largeur du bloc*/
.fonctionnement
{
    @include flex_column;
    gap:20px;
    margin: auto;
    width: 100%;
    background-color:lighten($couleur_secondaire,18);
    &__titre{
        padding-left:20px;
    }
    /*Bloc des instructions
    Espacement vertical
    Eléments en colonne
    Centrage automatique
    Largeur du bloc*/
    .bloc
    {
        gap:20px;
        @include flex_column;
        margin: auto;
        width: 90%;
        /*Paragraphes
        Epaisseur de la police*/
        p
        {
            font-weight: 700;
        }
        @include tablette{
            @include flex-row;
        }
        @include ordi{
            @include flex-row;
        }
    }
    /*Instruction de choix
    Centrage vertical
    Espacement vertical des éléments
    Hauteur du bloc
    Couleur de fond
    Bordure et rayon de bordure
    Ombre de la bordure*/
    &__choix
    {
        @include tablette{
        width:33%;
       }
       @include ordi{
        width:33%;
        }
        @include flex_center;
        gap:10px;
        height: 75px;
        padding-left:10px;
        background-color:#D3D3D3FF;
        border:1px solid white;
        border-radius:25px;
        box-shadow:4px 4px 4px $couleur_tertiaire;
        &:hover{
            background-color:#D3D3D366;
        }
        /*Icone
        Changement de couleur au survol de la souris*/
        .fa-solid:hover
        {
            color: $couleur_primaire;
        }
    }
    /*Icone et texte*/
    /*Eléments flex en ligne
    Centrage vertical*/
    .choix
    {
        @include flex_row;
        @include flex_center;
        /*Numéro imbriqué*/
        /*Réglages du cercle
        Positionnement relatif*/
        &__cercle
        {
            @include cercle;
            position:relative;
            left: -20px;
        }
    }
}

/*BLOC DE SELECTION DU RESTAURANT*/
/*Eléments flex en colonne
Marge supérieure pour espacer les blocs
Espacement vertical des éléments
Couleur de fond
Marge interne*/
.selection 
{
    @include flex_column;
    margin-top:50px;
    gap:30px;
    background-color:lightgrey;
    padding-bottom:50px;
    /*Sous-titre de la section*/
    /*Marge interne à gauche*/
    h2
    {
        padding-left:20px
    }
    
    &__restaurants{
        @include tablette{
        @include flex-row;
        flex-wrap:wrap;
        row-gap:20px;
    }
        @include ordi{
        @include flex-row;
        flex-wrap:wrap;
        row-gap:20px;
    }
        @include flex-column;
        row-gap:20px;

    /*Bloc de sélection du restaurant*/
    /*Eléments flex en colonne
    Centrage vertical des éléments
    Hauteur du bloc
    Coueur de fond
    Rayon de bordure
    Largeur du bloc
    Centrage horizontal automatique*/
        .restaurant
        {
            @include tablette{
        width:45%;
       } 

       @include ordi{
<<<<<<< HEAD
<<<<<<< HEAD
        width:23%;
=======
        width:20%;
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2
=======
        width:20%;
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2
       }
           @include flex_column;
           @include flex_center;
           height: 275px;
           background-color:white;
           border-radius:25px;
           width: 90%;
           margin: auto;
           /*Lien vers le restaurant*/
           /*Définition des éléments en tant que flexbox
           Centrage horizontal
           Largeur du bloc*/
           &__link
           {
            display: flex;
            justify-content: center;
            width: 100%;
            /*La photo prend tout l'espace*/
            .block
            {
                display: contents;
            }
        }


        
        /*Bloc de nom et d'emplacement du restaurant*/
            /*Eléments flex en ligne
            Espacement horizontal du texte
            Largeur et hauteur du bloc*/
            &__texte
            {
                @include flex_row;
                justify-content: space-around;
                width: 100%;
                height: 100px;
                /*Nom du restaurant et emplacement*/
                /*Eléments flex en colonne
                Espacement des éléments
                Marge interne à droite*/
                .texte
                {
                    @include flex_column;
                    justify-content: space-between;
                    padding-right:15px;
                    h3,p{
                        margin-top:10px;
                        margin-bottom: 10px;
                    }
                }
                /*Icone coeur*/
                /*Elément flex en colonne
                Centrage vertical*/
                .icone
                {
                    @include flex_column;
                    justify-content:center;
                    .fa-regular{
                        position:relative;
                    }
                    .fa-regular:hover {
                        color: transparent;
                        opacity: 0;
                    }
                    .fa-solid {
                        color: transparent;
                        position:absolute;
<<<<<<< HEAD
<<<<<<< HEAD
                        //transition: ease-out all 400ms;
                        //transform-origin: center;
=======
                        transition: ease-out all 400ms;
                        transform-origin: center;
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2
=======
                        transition: ease-out all 400ms;
                        transform-origin: center;
>>>>>>> d5b5d183dd8e93a5dc849b42eed391759d6c78a2
                    }
                    .fa-solid:hover {
                      /*transform: scale(1.0);
                      background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
                      background-clip: text;
                      -webkit-background-clip: text;
                      opacity: 1;*/
                      animation: coeur2 2s linear forwards;
                  }
              }
          }
     }
    }
}

/*Pannonceau indiquant un nouveau restaurant*/
/*Positionnement en absolu
Positionnement par rapport à la bordure droite
Définition en tant que flexbox
Centrage horizontal
Largeur et hauteur
Bordure
Couleur de fond
Couleur du texte*/
.nouveau
{

    position:absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 75px;
    height: 40px;
    border:1px solid $couleur-tertiaire;
    background-color:$couleur-tertiaire;
    color:darken($couleur-tertiaire,30%)

}

/*Photo du restaurant*/
/*Largeur de la photo
Hauteur de la photo
Rayon de bordure en haut
Centrage de la photo*/
.photo 
{
    width: 100%;
    height: 200px;
    border-radius:25px 25px 0 0;
    object-fit: cover;
    overflow: hidden;
}


/*PIED DE PAGE*/
/*Couleur de fond
Hauteur du bloc*/
.footer
{
    background-color:black;
    height: 250px;
    /*Logo du pied de page*/
    /*Famille de police
    Taille de police
    Couleur de police
    Marge interne à gauche
    Marge interne en haut*/
    &__logo
    {
        font-family: Shrikhand;
        font-size: 2em;
        color: white;
        padding-left:40px;
        padding-top:40px;
    }
    /*Liste des liens*/
    /*Couleur du texte
    Eléments en colonne
    Pas de puce de liste*/
    &__list
    {
        color: white;
        @include flex_column;
        list-style: none;
        /*Liens*/
        /*Pas de soulignement des liens
        Couleur du texte des liens*/
        a
        {
            text-decoration: none;
            color: white;
        }
        /*Icone et texte*/
        /*Eléments en ligne
        Centrage vertical
        Espacement vertical*/
        &__item
        {
            @include flex_row;
            align-items:center;
            gap:20px;

        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

/*PAGES DES RESTAURANTS*/
/*Photo de menu*/
/*Largeur et hauteur de la photo
La photo prend tout l'espace*/
.photo_menu 
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

/*BLOC PHOTO ET MENU*/
/*Positionnement relatif
Couleur de fond
Hauteur du bloc*/
.restaurant
{
    position:relative;
    background-color:lightgrey;
    height: 2100px;
    /*En-tête du bloc*/
    /*Eléments en ligne
    Centrage vertical
    Espacement des éléments
    Rayon de bordure
    Positionnement relatif*/
    &__header {
        @include flex_row;
        @include flex_center;
        justify-content: space-around;
        background-color:lightgrey;
        border-radius:25px 25px 0 0;
        position:relative;
        top: -70px;
        /*Nom du restaurant*/
        /*Famille de police
        Taille de police*/
        &__titre  {
            font-family: Shrikhand;
            font-size: 2em;
        }
        .fa-heart{
            font-weight: 400;
        }
        .image{
            width:50px;
            height: 50px;
        }
    }
    /*Menu proposé*/
    /*Eléments en colonne
    Couleur de fond
    Espacement vertical des éléments
    Positionnement relatif*/
    &__menu {
        @include flex_column;
        background-color:lightgrey;
        gap:50px;
        position:relative;
        top: -70px;

        /*Eléments du menu*/
        /*Eléments en colonne
        Laugeur du bloc
        Centrage horizontal automatique
        Espacement vertical des éléments*/
        &__plats {
            @include flex_column;
            width: 90%;
            margin: auto;
            gap:30px;
            /*Soulignement d'une partie du texte*/
            &__souligne {
                border-bottom:2px solid $couleur_tertiaire;
            }
            /*Bloc plat-prix*/
            /*Eléments en ligne
            Espacement horizontal
            Couleur de fond
            Hauteur et largeur du bloc
            Rayon de bordure*/
            .unitaire {
                @include flex_row;
                justify-content: space-between;
                align-items:center;
                background-color:yellow;
                height: 100px;
                width: 100%;
                border-radius:25px;
                /*Bloc des plats*/
                /*Eléments en colonne*/
                &__nom {
                    width: 80%;
                    @include flex_column;
                    &:hover{
                        animation:nom 1s linear forwards;
                    }
                    //width: 100%;
                    /*Marge interne à gauche pour le titre et le texte
                    Marge haute et basse*/
                    h3,p {
                        padding-left:10px;
                        margin-top:15px;
                        margin-bottom: 15px;
                        &:hover{
                            //animation: nom 1s linear forwards;;
                        }
                    }
                    /*p{
                        text-overflow: ellipsis "...";
                        overflow: hidden;
                    }*/
                    .self{
                        margin-top: -5px;;
                    }
                    /*&:hover{
                        width: 60%;
                        text-overflow: ellipsis "...";
                        overflow: hidden;
                        white-space: nowrap;
                    }*/
                }
                &__prix{
                    width: 20%;
                    height: 100%;
                    @include flex-row;
                    background-color:red;
                    justify-content: center;
                    align-items:flex-end;
                    font-weight: 700;
                    /*&+ .unitaire__check{
                        //transition: transform all 1s;
                        &:hover{
                            //transform: translateX(-10px);
                            animation:check 1s linear forwards;
                        }
                    }*/
                }
                &__check{
                    @include flex_center;
                    height: 100%;
                    justify-content: center;
                    background-color:$couleur_tertiaire;
                    color:white;
                    overflow: hidden;
                    width: calc(20% - 20%);
                    height: 100%;
                    border-radius:0 25px 25px 0;
                    //transform:translateX(-10px);
                    //animation:check 1s linear forwards;

                    i{
                        transform: rotate(180deg);
                    }
                    }

            }

        } //fermeture plats
    } //fermeture menu
} //fermeture restaurant




