/*Couleurs*/
body {
  font-family: "Roboto";
  width: 100%;
  margin: auto; }

.header {
  display: flex;
  flex-direction: column; }
  .header__logo {
    font-family: "Shrikhand";
    font-size: 4em;
    text-align: center; }
  .header a {
    position: relative;
    top: 65px;
    left: 20px; }
  .header a:visited {
    text-decoration: none;
    color: black; }

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  background-color: grey; }
  .form input {
    background-color: grey;
    border: none;
    width: 150px;
    font-size: 1.3em; }

.presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }
  .presentation__titre {
    font-size: 2em;
    padding-left: 20px; }
  .presentation__texte {
    font-size: 1.3em; }

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 60px;
  width: 250px;
  color: white;
  font-size: 1.1em;
  border-radius: 30px;
  background: linear-gradient(0deg, #FF79DA, #FF79DA 2%, #9356DC); }

.fonctionnement-selection {
  display: flex;
  flex-direction: column;
  gap: 50px; }

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  width: 95%; }
  .fonctionnement .bloc {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%; }
    .fonctionnement .bloc p {
      font-weight: 700; }
  .fonctionnement__choix {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 75px;
    padding-left: 10px;
    background-color: lightgrey;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #99E2D0; }
    .fonctionnement__choix .fa-solid:hover {
      color: #9356DC; }
  .fonctionnement .choix {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center; }
    .fonctionnement .choix__cercle {
      background-color: #9356DC;
      border: 1px solid #9356DC;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
      font-weight: 700;
      position: relative;
      left: -20px; }

.selection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: lightgrey;
  padding-bottom: 50px; }
  .selection h2 {
    padding-left: 20px; }
  .selection .restaurant {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 300px;
    background-color: white;
    border-radius: 25px;
    width: 90%;
    margin: auto; }
    .selection .restaurant__link {
      display: flex;
      justify-content: center;
      width: 100%; }
      .selection .restaurant__link .block {
        display: contents; }
    .selection .restaurant__texte {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 100px; }
      .selection .restaurant__texte .texte {
        display: flex;
        flex-direction: column; }
      .selection .restaurant__texte .icone {
        display: flex;
        flex-direction: column;
        justify-content: center; }

.photo {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  overflow: hidden; }

.texte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px; }

.footer {
  background-color: black;
  height: 350px; }
  .footer__logo {
    font-family: Shrikhand;
    font-size: 2em;
    color: white;
    padding-left: 40px;
    padding-top: 40px; }
  .footer__list {
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none; }
    .footer__list a {
      text-decoration: none;
      color: white; }
    .footer__list__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px; }

.photo_menu {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden; }

.restaurant {
  background-color: lightgrey;
  height: 2100px; }
  .restaurant__header {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    border-radius: 25px 25px 0 0;
    position: relative;
    top: -70px; }
    .restaurant__header__titre {
      font-family: Shrikhand;
      font-size: 3em; }
  .restaurant__menu {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    gap: 50px;
    position: relative;
    top: -70px; }
    .restaurant__menu__plats {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto;
      gap: 30px; }
      .restaurant__menu__plats__souligne {
        border-bottom: 2px solid #99E2D0; }
      .restaurant__menu__plats .unitaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        height: 100px;
        width: 90%;
        border-radius: 25px; }
        .restaurant__menu__plats .unitaire__1 {
          display: flex;
          flex-direction: column; }
          .restaurant__menu__plats .unitaire__1 h3, .restaurant__menu__plats .unitaire__1 p {
            padding-left: 20px; }
        .restaurant__menu__plats .unitaire .prix {
          display: flex;
          align-items: flex-end;
          padding-right: 20px; }

/*# sourceMappingURL=main.css.map */
